body
{
    background-color: blueviolet;
    font-family: "latin", Arial, Helvetica, sans-serif;
    color: rgb(141, 198, 231);
}

div.work
{
    clear: both;
    float:right;
    padding: 20px;
    border: 5px solid black;
    margin-right: 100px;

}

body main figure img
{
    clear: both;
    width: 400px; 
    height: 300px;
}

div.wether
{
    clear: both;
    padding-left: 3em;
}
